*{
    margin: 0;
    padding: 0; 
}

.fundo{

    background-image: linear-gradient(45deg, rgba(16, 166, 185, 0.815), rgb(228, 56, 176)); /* Para dar aquela
    difuminada no fundo */
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(207, 120, 193);
    top: 50%; /* Para alinear al centro */
    left: 50%; /* Para alinear al medio */
    transform: translate(-50%, -50%); /* Para terminar de centralizar */
    border-radius: 14px;
    padding: 15px; /* Distancia entre los elementos y la borda*/
  
}

.botao{
    background-color: #FFF;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color:#FFF;
margin: 3px;
}

.botao:hover{
    background-color: rgb(207, 21, 21);
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    border-radius: 4px;
    text-align: right;
    padding: 7px;
    margin-bottom: 15px;
}

